
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table>
    <tr>
    <th>City Code</th>
    <th>Country Code</th>
    <th>City Name</th>
    <th>Population</th>
    <th>By the Sea</th>
    <th>Area</th>
    </tr>
    <% cities.forEach((city) =>
    { %>
    <tr>
    <td><%=city.cty_code %></td>
    <td><%=city.co_code %></td>
    <td><%=city.cty_name %></td>
    <td><%=city.population %></td>
    <td><%=city.isCoastal %></td>
    <td><%=city.areaKM %></td>

    <td><a href="<%= "/showCityDetails/" + city.cty_code %>">All Details</a></td>
    </tr>
    <% }) %>
</table>

<a href="\">Home</a>